@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

:root {
  --light-color: #f1f0da;
  --accent-color: #444341;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Press Start 2P", system-ui;
  line-height: 1.5;

  color: var(--light-color);
}

body {
  background: radial-gradient(
    circle,
    #444341,
    #6d6a64,
    #979489,
    #c4c1b1,
    #f1f0da
  );
  min-height: 100vh;
}

/* Стилизую заголовок */

header {
  text-align: center;
}

header img {
  width: 8rem;
  object-fit: contain;
  margin: 3rem auto 1rem auto;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.4));
}

h1 {
  font-family: "Press Start 2P", system-ui;
  font-size: 3rem;
  margin: 0 auto 3rem auto;
  color: var(--light-color);
}

/* Стилизую контейнер */

#game-container {
  max-width: 45rem;
  margin-inline: auto;
  margin-top: 48px;
  margin-bottom: 10px;
  padding: 2rem;
  border-radius: 50px;
  background-color: var(--accent-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  position: relative;
}

/* Стилизую подсветку для активного игрока */

#players.highlight-player li.active {
  border-color: var(--light-color);
  animation: pulse 2s infinite ease-in-out;
}

#players.highlight-player li.active .player-name,
#players.highlight-player li.active .player-symbol {
  color: var(--light-color);
}

/* Стилизую поле изменить/сохранить логин */

#players button {
  width: 3rem;
  border: none;
  background: none;
  color: var(--light-color);
  font-family: "Press Start 2P", system-ui;
  font-size: 0.6rem;
  cursor: pointer;
  transition: color 0.2s;
  padding: 0.5rem 0.25rem 0.25rem 0.25rem;
  text-align: center;
}

#players button:hover {
  color: var(--light-color);
}

/* Стилизую отображение логина */

#players {
  list-style: none;
  padding: 0;
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#players li {
  display: flex;
  align-items: center;
  width: 50%;
  border: 2px solid transparent;
}

.player {
  border: 2px solid transparent;
  padding: 0.5rem;
  border-radius: 4px;
  font-weight: bold;
}

.player-name {
  display: inline-block;
  width: 10rem;
  font-size: 0.8rem;
  color: var(--light-color);
  margin: 0;
  padding: 0.5rem;
  border-radius: 4px;
  text-overflow: ellipsis;
  text-align: center;
}

/* Стилизую ввод логина */

.player input {
  font: inherit;
  font-size: 0.7rem;
  width: 10rem;
  border: none;
  padding: 0.5rem;
  animation: pulse-text 2s infinite;
  background-color: var(--light-color);
  text-align: center;
  text-transform: uppercase;
}

/* Стилизую игровое поле до игры */

.player-symbol {
  margin-left: 1rem;
  font-size: 1rem;
  color: var(--light-color);
}

ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

#pre-game {
  text-align: center;
}

#pre-game button {
  cursor: pointer;
  background: none;
  color: var(--light-color);
  border: none;
  font-family: "Press Start 2P", system-ui;
  font-size: 4rem;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.7);
  animation: pulse-text-size 2s infinite ease-out;
}

/* Стилизую игровое поле во время игры */

#game-board {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
  padding: 0;
  flex-direction: column;
}

#game-board ol {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

#game-board button {
  width: 8rem;
  height: 8rem;
  border-radius: 15px;
  background: var(--light-color);
  color: var(--accent-color);
  font-size: 5rem;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  padding: 1rem;
}

/* Стилизую экран геймовера */

#game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
  border-radius: 50px;
  opacity: 0.95;
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

#game-over h2 {
  font-family: "Press Start 2P", system-ui;
  font-size: 4rem;
  text-align: center;
  color: var(--light-color);
  margin: 0;
}

#game-over p {
  font-size: 2rem;
  text-align: center;
  color: var(--light-color);
}

#game-over button {
  display: block;
  margin: 0 auto;
  font-size: 1.5rem;
  background: none;
  border: 2px solid var(--light-color);
  color: var(--light-color);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px rgba(68, 67, 65, 0.4);
  font-family: "Press Start 2P", system-ui;
}

#game-over button:hover {
  background: var(--light-color);
  color: #24231f;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(104, 103, 102, 0.8);
}

/* Стилизую лог ходов */

#log {
  max-width: 20rem;
  color: inherit;
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  background-color: var(--accent-color);
  border-radius: 25px;
  text-align: center;
}

#log li {
  border-radius: 4px;
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  margin: 0.75rem;
}

/* АНИМАЦИИ */

/* Слайд-ин для лога */

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Меняю цвет текста для акцента */

@keyframes pulse-text {
  0% {
    color: #e1dec7;
  }
  50% {
    color: #9f9d83;
  }
  100% {
    color: #e1dec7;
  }
}

/* Меняю размер шрифта для акцента */

@keyframes pulse-text-size {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

/* Пульсация текста */

@keyframes pulse {
  0% {
    border-color: var(--light-color);
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0.4);
  }
  50% {
    border-color: #6b6b68;
    box-shadow: 0 0 0 0.5rem rgba(248, 165, 49, 0);
  }
  100% {
    border-color: var(--light-color);
    box-shadow: 0 0 0 0 rgba(246, 227, 90, 0);
  }
}

/* Поп-ин для экрана проигрыша */

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  80% {
    transform: scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}
